<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>英語リスニングクイズ</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/quiz.js" defer></script>
  </head>
  <body>
    <header>
      <h1>英語リスニングクイズ</h1>
    </header>

    <section class="audio-section">
      <div class="audio-player">
        <audio id="audioElement" controls>
          <source src="/audio/whitehouse_down.mp3" type="audio/mp3" />
          あなたのブラウザはオーディタグをサポートしていません。
        </audio>
      </div>

      <div class="answer-section">
        <div id="history"></div>
        <div id="sentence"></div>
        <div id="selectedWord"></div>
        <input type="text" id="answer" placeholder="聞き取った英語をタイプして下さい" />
        <button onclick="saveAnswer();">回答を保存</button>
        <button onclick="submitAnswer();">回答を送信</button>
      </div>

      <div id="result">正誤表記の場所</div>
    </section>
  </body>
</html>
