<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <script type="text/javascript" th:src="@{/quiz.js}"></script>
    <title>index page</title>
  </head>
  <body>
    <div>
      ここはdivタグになります。背景色(黄色)はdemo.cssから、
      文字色(赤色)はdemo2.cssから取得しています。
    </div>
    <br /><br />
    下記ボタンを押下した際のダイアログは、demo.jsから取得しています。<br />
    <input type="button" value="JavaScript呼出_demo" onclick="demoTest();" />
    <br /><br />
    下記ボタンを押下した際のダイアログは、demo2.jsから取得しています。<br />
    <input type="button" value="JavaScript呼出_demo2" onclick="demoTest2();" />
  </body>
</html>
