<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>英語リスニングクイズ</title>
    <style>
      #answerInput {
        width: 300px;
      }
    </style>
    <script src="js/quiz.js"></script>
  </head>
  <body>
    <h1>英語リスニングクイズ</h1>
    <div class="audio-player">
      <audio id="audioElement" controls src="/audio/apple.mp3"></audio>
    </div>
    <div>
      <input type="text" id="answer" placeholder="聞き取った英語をタイプして下さい" />
      <input type="button" value="回答送信" onclick="submitAnswer();" />
    </div>
    <div id="result">正誤表記の場所</div>

    <p>
      <!-- <img src="/opt/demo/src/main/resources/static/images/img1.png" alt="画像1" /> -->
      <img src="images/img1.png" alt="画像1" />
    </p>
  </body>
</html>
